.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
}

.py-5 {
    padding-top: 5em;
}

.is-invalid {
    border-color: red;
}

.login-form {
    position: absolute;
    background-color: #fff;
    bottom: 50px;
    border-radius: 10px;
    right: 50px;
    padding: 20px;
    width: 500px;
    height: 350px;
    box-shadow: 5px 5px 20px #383838;
    background-color: burlywood;
}

.form-group {
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: darkslategrey;
}

.error {
    position: absolute;
    color: red;
}

.btn {
    margin-top: 30px;
}

h1 {
    color: hsl(218, 81%, 95%);
    height: 50vh;
}

.a {
    color: hsl(218, 81%, 85%);
}

p {
    color: hsl(218, 81%, 85%);
}

span {
    color: hsl(218, 81%, 75%);
}

.col-lg-6 mb-5 mb-lg-0 {
    z-index: 10;
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.error {
    color: red;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.eyeicon {
    position: absolute;
    right: 58px;
    top: 505px;
    cursor: pointer;
}

input:invalid {
    animation: shake 0.4s;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.content1 {
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}

.content1 .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
}

.content1 .p {
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
}

footer {
    bottom: 0px;
    width: 100%;
    background: #111;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: "";
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #f12020;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.right form .btn button:hover {
    background: #000;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color: #f12020;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}

.btn:after {
    position: absolute;
    top: 140%;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

@keyframes scroll_4013 {
    0% {
        transform: translateY(40%);
    }

    50% {
        transform: translateY(90%);
    }
}

html {
    height: 50%;
}



.demo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lg {
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

::placeholder {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.form-control-lg {
    font-size: 16px;
    padding: 25px 20px;
}

.font-500 {
    font-weight: 500;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.password-input {
    position: relative;
}

.password-input .eyeicon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}