html {
    height: 50%;
}



.demo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lg {
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

::placeholder {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.form-control-lg {
    font-size: 16px;
    padding: 25px 20px;
}

.font-500 {
    font-weight: 500;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.password-input {
    position: relative;
}

.password-input .eyeicon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}