<div class="demo-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
                <div class="text-center mb-4">
                    <img style="font-size: medium;" src="https://annedece.sirv.com/Images/user-vector.jpg"
                        class="rounded-circle p-2 bg-white">
                </div>
                <div class="p-5 bg-white rounded shadow-lg">
                    <h2 class="mb-2 text-center">Sign In :</h2>
                    <br>

                    <!---->
                    <form (ngSubmit)="login()" #signupform="ngForm">

                        <label for="email" class="font-500"><i class="fas fa-envelope"></i>Email</label>
                        <input [(ngModel)]="email" id="email" name="email" placeholder="email" pattern={{aa}}
                            class="form-control form-control-lg mb-3" type="email" required>


                        <label for="password" class="font-500"> <i class="fas fa-lock"></i>Password</label>
                        <div class="password-input">
                            <input [type]="changetype ? 'password' : 'text'" [(ngModel)]="password" id="password"
                                name="password" placeholder="Password" class="form-control form-control-lg" required
                                type="password">
                            <span class="eyeicon" (click)="view()">
                                <i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                            </span>
                        </div>
                        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
                        <p class="m-0 py-4"><a href="" class="text-muted">Forget password?</a></p>
                        <button [disabled]="signupform.invalid" type="submit"
                            class="btn btn-success btn-lg w-100 shadow-lg">
                            <i class="fas fa-plus-circle"></i> &nbsp;SIGN IN
                        </button>
                    </form><br><br>
                    <div class="text-center pt-4" style="display: flex;margin: auto;align-items: center;">
                        <button class="btn btn-outline-info" routerLink=" /Form"> Click here to
                            see
                            the form</button>
                    </div>

                    <div class="text-center pt-4">
                        <p class="m-0">Do not have an account? <br><button routerLink="/Signup"
                                class="text-bg-warning font-weight-bold badge badge-info ">Sign Up</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>