<div class="container mt-5">
    <div class="card">
        <h1 class="text-center card-header">Employee Registration</h1>
    </div>
    <div class="card mt-3 p-4">
        <form #registerform="ngForm" class="needs-validation" novalidate (ngSubmit)="register(registerform)">

            <div class="form-group">
                <label for="id">Employee ID:
                    <input required #number (ngModel)="number" placeholder="Employee ID" type="number" id="id"
                        class="form-control" name="id">
                </label>
                <div class="invalid-feedback">
                    Please enter a valid Employee ID.
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="name">Employee Name:
                    <input required #name (ngModel)="name" placeholder="Employee Name" type="text" id="name"
                        class="form-control" name="name">
                </label>
                <div class="invalid-feedback">
                    Please enter the Employee's name.
                </div>
            </div>
            <br>

            <div class="form-group">
                <label for="email">Employee email:
                    <input style="caret-color: red" required #adresse (ngModel)="adresse" placeholder="Employee email"
                        pattern={{aa}} type="email" id="email" class="form-control" name="email" />
                </label>
                <div class="invalid-feedback">
                    Please enter a valid email address.
                </div>
            </div>
            <br>

            <div class="form-group">
                <input #registerform [disabled]="registerform.form.invalid" class="btn btn-success w-100" type="submit"
                    value="Register">

            </div>
        </form>
    </div>
    <button class="btn btn-outline-danger mt-3" (click)="performLogout()">logout</button>
    <button style="margin-left: 290px;" class="btn btn-outline-warning mt-3 " routerLink="/Employee"
        routerLinkActive="Active">Employee</button>